<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymelef.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>

    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.4/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}"
          rel="stylesheet" media="screen" />

    <script src="http://cdn.jsdelivr.net/webjars/jquery/2.1.4/jquery.min.js"
            th:src="@{/webjars/jquery/3.1.1-1/jquery.min.js}"></script>

    <link href="../../static/css/spring-core.css"
          th:href="@{/css/spring-core.css}" rel="stylesheet" media="screen"/>
</head>
<body class="container">
    <div class="row" th:if="${not #lists.isEmpty(guestList)}">
        <h2 class="text-center">These are our guest</h2>
        <table class="table table-striped">
            <tr>
                <th>#</th>
                <th>Nombre</th>
                <th>Action</th>
            </tr>
            <tr th:each="guest : ${guestList}">
                <td th:text="${guest.id}"></td>
                <td class="profile">
                    <img class="img-circle" th:src="${guest.picture}"/>
                    <span th:text="${guest.name}"></span>
                </td>
                <td><a th:href="${'/guest/' + guest.id}">See More</a></td>
            </tr>
        </table>
    </div>
</body>
</html>