body {
    background-color: #8BC34A;
    margin-top: 50px;
}

td.profile img {
    max-width: 30px;
}

td.profile span {
    margin-left: 10px;
}

div.profile img {
    margin: 0 auto;
    display: block;
    padding: 1rem;
    max-width: 20rem;
}
